ai agent calendar bot.blueprint.json
{
    "name": "ai agent calendar bot",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1261170
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "ai agent calender",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "pattern": "'(?<topic>[^']+)'.*?(?<date>\\d{4}-\\d{2}-\\d{2}).*?(?<time>\\d{2}:\\d{2})(?:.*?with\\s+the\\s+'(?<team>[^']+)')?(?:.*?in\\s+the\\s+'(?<location>[^']+)')?",
                "global": true,
                "sensitive": false,
                "multiline": false,
                "singleline": false,
                "continueWhenNoRes": true,
                "ignoreInfiniteLoopsWhenGlobal": false
            },
            "mapper": {
                "text": "{{1.message.text}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    },
                    {
                        "name": "ignoreInfiniteLoopsWhenGlobal",
                        "type": "boolean",
                        "label": "Ignore errors when there is an infinite search loop",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "type": "text",
                        "name": "topic",
                        "label": "topic"
                    },
                    {
                        "type": "text",
                        "name": "date",
                        "label": "date"
                    },
                    {
                        "type": "text",
                        "name": "time",
                        "label": "time"
                    },
                    {
                        "type": "text",
                        "name": "team",
                        "label": "team"
                    },
                    {
                        "type": "text",
                        "name": "location",
                        "label": "location"
                    },
                    {
                        "type": "uinteger",
                        "name": "i",
                        "label": "i"
                    },
                    {
                        "type": "any",
                        "name": "__IMTMATCH__",
                        "label": "Fallback Match"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-calendar:createAnEvent",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 5095251
            },
            "mapper": {
                "select": "detail",
                "calendar": "salahaldianhamid@gmail.com",
                "summary": "{{2.topic}}",
                "allDayEvent": false,
                "start": "{{2.date}}T{{2.time}}:00",
                "end": "{{2.date}}T{{2.time}}:50",
                "description": "{{1.message.text}}",
                "location": "{{2.location}}",
                "useDefault": true,
                "transparency": "opaque",
                "visibility": "default",
                "guestPermissions": {
                    "guestsCanModify": false,
                    "guestsCanInviteOthers": false,
                    "guestsCanSeeOtherGuests": true
                },
                "conferenceDate": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (salahaldianhamid@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "In Detail"
                        },
                        "calendar": {
                            "mode": "chose",
                            "label": "salahaldianhamid@gmail.com (Primary Calendar)"
                        },
                        "colorId": {
                            "mode": "chose"
                        },
                        "allDayEvent": {
                            "mode": "chose"
                        },
                        "overrides": {
                            "mode": "chose"
                        },
                        "attendees": {
                            "mode": "chose"
                        },
                        "transparency": {
                            "mode": "chose",
                            "label": "Busy"
                        },
                        "visibility": {
                            "mode": "chose",
                            "label": "Default"
                        },
                        "sendUpdates": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "recurrence": {
                            "mode": "chose"
                        },
                        "conferenceDate": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create an Event",
                        "required": true,
                        "validate": {
                            "enum": [
                                "quick",
                                "detail"
                            ]
                        }
                    },
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "colorId",
                        "type": "select",
                        "label": "Color"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Event Name",
                        "required": true
                    },
                    {
                        "name": "allDayEvent",
                        "type": "boolean",
                        "label": "All Day Event",
                        "required": true
                    },
                    {
                        "name": "start",
                        "type": "date",
                        "label": "Start Date",
                        "required": true,
                        "time": true
                    },
                    {
                        "name": "end",
                        "type": "date",
                        "label": "End Date",
                        "time": true
                    },
                    {
                        "name": "duration",
                        "type": "time",
                        "label": "Duration"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "useDefault",
                        "type": "boolean",
                        "label": "Use the default reminder settings for this event"
                    },
                    {
                        "name": "overrides",
                        "type": "array",
                        "label": "Reminders",
                        "validate": {
                            "maxItems": 5
                        },
                        "spec": [
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "options": [
                                    {
                                        "label": "Email",
                                        "value": "email"
                                    },
                                    {
                                        "label": "Pop-up",
                                        "value": "popup"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "minutes",
                                "type": "uinteger",
                                "label": "Minutes",
                                "required": true,
                                "validate": {
                                    "max": 40320
                                }
                            }
                        ]
                    },
                    {
                        "name": "attendees",
                        "type": "array",
                        "label": "Attendees",
                        "spec": [
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Show me as",
                        "required": true,
                        "validate": {
                            "enum": [
                                "opaque",
                                "transparent"
                            ]
                        }
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "default",
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "sendUpdates",
                        "type": "select",
                        "label": "Send notifications about the event creation",
                        "validate": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "guestPermissions",
                        "type": "collection",
                        "label": "Guest Permissions",
                        "spec": [
                            {
                                "name": "guestsCanModify",
                                "type": "boolean",
                                "label": "Modify event",
                                "required": true
                            },
                            {
                                "name": "guestsCanInviteOthers",
                                "type": "boolean",
                                "label": "Invite others",
                                "required": true
                            },
                            {
                                "name": "guestsCanSeeOtherGuests",
                                "type": "boolean",
                                "label": "See guest list",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "recurrence",
                        "type": "array",
                        "label": "Recurrence",
                        "spec": {
                            "type": "text",
                            "label": "Value",
                            "name": "value"
                        }
                    },
                    {
                        "name": "conferenceDate",
                        "type": "boolean",
                        "label": "Add Google Meet Video Conferencing",
                        "required": true
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileUrl",
                                "type": "url",
                                "label": "File URL",
                                "required": true
                            }
                        ]
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5094890
            },
            "mapper": {
                "chatId": "{{1.message.chat.id}}",
                "text": "Your meeting has been successfully scheduled on {{2.date}} at {{2.time}} with {{2.team}} in {{2.location}}. ",
                "messageThreadId": "",
                "parseMode": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter",
                "replyMarkup": ""
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Telegram Bot ai calender",
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            }
                        }
                    },
                    "expect": {
                        "parseMode": {
                            "label": "Empty"
                        },
                        "disableNotification": {
                            "mode": "chose"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}